body {

	margin: 0px;
background-color: #7E81A9; 
}




.animation {

	position: absolute;
	margin-top: 30px; 
	margin-left: 50px;
	animation-name: ana; 
	animation-duration: 30s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}


@keyframes {

			to{ 
					transform: scale(2.1); 
				}

			from {

					transform: (0.3);
				}


}